
body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/fondo.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCF8FE;
}

@media screen and (max-width: 600px) {
  body {
    background-size: cover; 
  }
}